---
import BaseHead from "../components/BaseHead.astro";
import { ClientRouter } from 'astro:transitions';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
const { image, canonical, schema, noindex } = Astro.props;
const title = Astro.props.title || Astro.props.frontmatter?.title || Astro.props.content?.title || SITE_TITLE;
const description = Astro.props.description || Astro.props.frontmatter?.description || Astro.props.content?.description || SITE_DESCRIPTION;
---
<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
 
  <head>
    <BaseHead title={title} description={description} image={image} canonical={canonical} schema={schema} noindex={noindex} />    
  </head>

  <body class="bg-black ">
      <Header transition:animate="none" />
      <ClientRouter />
      <main class="bg-neutral overflow-hidden">
        
        <slot />
      </main>      
      <Footer /> 

      <!-- Animate On Scroll -->
      <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script is:inline>
        function initAOS() {
          AOS.init({ easing: 'ease' });
        }
        initAOS();
        document.addEventListener('astro:page-load', initAOS);
      </script>
  </body>
  
</html>
