---
import BaseHead from "../components/BaseHead.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import ProjectHero from '../components/ProjectHero.astro';

const {
  content: {
    title,
    description,
    heroImage,
    synopsis,
    badge,
  },
} = Astro.props;
---

<BaseLayout title={title} description={description}  >
  <Header />
  <ProjectHero title={title} synopsis={synopsis} heroImage={heroImage} />
  <main class="justify-center bg-gradient-to-r from-slate-900/30 via-blue-900/20 to-slate-900/30">  
    <div class="hero">
      <div class="hero-content flex-col">
        <slot  />
      </div>        
    </div>  
  </main>
</BaseLayout>
